h1 {
    color: #cc0000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 38px;
}
h2 {
    color: #0066cc;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 34px;
}

p {
    color: #f6e251;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin:  50px;
    font-size: 24px;
}
p.green {
    color: green;
}
p.red {
    color: red;
}